@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
}

<div class="container-incidentes">
    <div class="incidentes-title">
        <div class="rectangle-title">
            <span class="container-span-title"> Abrir incidente </span>
        </div>
    </div>
    <div class="incidentes-data">
        <div class="container-filters-incidentes">
            <form class="container-filters-incidentes" asp-area="" asp-controller="Incidentes" asp-action="agregarIncidente" method="post">
                <span class="span-filters">Servicio</span>
                <div class="mb-3 full-width">
                    <select class="form-select" name="servicio"  aria-label="Disabled  select example">
                        <option selected>Seleccione el servicio</option>
                        @foreach (var item in ViewBag.Servicios)
                        {
                            <option value="@item.Id">@item.Text</option>
                        }
                    </select>
                </div>
                <span class="span-filters">Informe</span>
                <div class="mb-3 full-width">
                    <input class="form-input form-control" style="resize: vertical;" name="informe" placeholder="Ingrese el informe" aria-label="Disabled select example" />
                </div>
                <span class="span-filters">Localizacion</span>
                <div class="mb-3 full-width">
                    <select class="form-select" name="localizacion" aria-label="Disabled select example">
                        <option selected>Seleccione la localizacion</option>
                        @foreach (var item in ViewBag.Localizaciones)
                        {
                            <option value="@item.Id">@item.Text</option>
                        }
                    </select>
                </div>
                <button class="reportar-button" style="width: auto;">Reportar</button>
            </form>
        </div>
    </div>
</div>
