@{
    ViewData["Title"] = "Organismos";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/js/organismosController.js")"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}

<div>
    <div class="text-center imp-file">
        <div class="mb-3">
            <input class="form-control" type="file" id="formFile">
        </div>
        <button type="button" class="btn btn-primary" onclick="validarArchivo()">Importar CSV</button>
    </div>
    <div id="msg" class="text-center error"></div>
    <div id="tableContainer" class="text-center"></div>
</div>