@page
@model IndexModel
@{
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Log in";
}
@section Scripts {
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/loginController.js" asp-append-version="true"></script>
}

<div>
    <div class="content-square">
        <div class="rectangle-title">
            <span class="container-span-title"> INICIAR SESIÓN </span>
        </div>

        <div class="container-auth0">
            <button onclick="login()" class="button-auth">Auth0</button>
        </div>
    </div>
</div>