@{
    ViewData["Title"] = "Organismos";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/js/organismosController.js")"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}

<div>
    <div class="content-square">
        <div class="rectangle-title">
            <span class="container-span-title">ORGANISMOS</span>
        </div>

        <div class="container-auth0">
            <div class="mb-3">
                <input class="form-control" type="file" id="formFile">
            </div>
            <button id="importButton" type="button" onclick="validarArchivo()" class="button-auth">
                <span id="textButton">Importar CSV</span>
                <div id="loadingButton" style="display:none" class="spinner-border spinner-border-sm text-light" role="status">
                    <span class="sr-only"></span>
                </div>
            </button>
        </div>
    </div>
    <div id="msg" class="text-center error"></div>
    <div id="tableContainer" class="text-center mt-3"></div>
</div>


